@media only screen and (max-width: 1000px) {
    .card-2{
        width: 100%;
        text-align: center;
    }
    .card-6{
        width: 100%;
    }
    .column {
        width: 45%;

    }
    .container{
        padding: 0 10px;
    }
    .card-1{
        width: 47%;
    }
    .card-3{
        width: 100%;
    }
    .menu-bar{
        display: none;
    }
    .mobile-icon{
        display: block;
    }
    .card-4{
        width: 100%;
    }
    .card-5{
        width: 50%;
    }

}
@media only screen and (max-width: 750px) {

    .column-1{
        width: 100%;
    }
    .card-10{
        width: 70%;
    }
    .card-4{
        width: 100%;
    }
    .column {
        width: 100%;
    }
    .card-1{
        width: 100%;
    }
    .call-to-action{
        width: 100%;
    }
    .mobile-icon-2{
        display: block;
    }
    .mobile-icon{
        display: none
    }
    .card-10{
        width: 49%;
    }
}


@media only screen and (max-width: 550px) {
    .card-4{
        justify-content:space-around;
    }
    .service {
        .row {
            justify-content: space-around;
        }
    }
    .column {
        width: 100%;

    }
    .card-10{
        width: 100%;
    }
    .card-5{
        width: 100%;
    }
}
@media only screen and (max-width: 400px) {
    .container{
        padding: 0 5px;
    }
    .column {
        width: 100%;

    }
}
@media only screen and (max-width: 500px) {
    .card-1{

    }
}